# Lattice Diamond
*.html
*.log
*.xml
.vdbs
*.dir
*.ini
*.p2t
*.p3t
*.pad
*.par
*.prf
*.pt
*.t2b
*.tw1
*.twr
.build_status
*.alt
*.arearep
*.bgn
*.drc
*.lsedata
*.mrp
*.mt
*.asd
*.cam
*.hrr
*.ncd
*.asd
*.edn
*.naf
*.sym
*.srp
*.sort
*.ngd
*.synproj
xxx_lse*
_math_real.vhd
*.ccl
*.htm
*.srr
*.srr.db
*.srf
*.sty
*.ior
*.prs
synlog/
syntmp/
.recovery


