BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "o_video_r" SITE "100" ;
LOCATE COMP "o_video_g" SITE "99" ;
LOCATE COMP "o_video_b" SITE "98" ;
LOCATE COMP "o_vs" SITE "96" ;
LOCATE COMP "o_hs" SITE "97" ;
LOCATE COMP "i_clk" SITE "5" ;
LOCATE COMP "i_spi_cs" SITE "95" ;
LOCATE COMP "i_spi_sck" SITE "92" ;
LOCATE COMP "i_spi_mosi" SITE "93" ;
LOCATE COMP "o_spi_miso" SITE "94" ;
LOCATE COMP "o_d" SITE "55" ;
IOBUF PORT "o_d" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_hs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_video_b" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_video_r" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_vs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_video_g" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_spi_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_spi_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_spi_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_spi_miso" IO_TYPE=LVCMOS33 ;
USE PRIMARY NET "i_clk_c" ;
