BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "o_video_r" SITE "100" ;
LOCATE COMP "o_video_g" SITE "99" ;
LOCATE COMP "o_video_b" SITE "98" ;
LOCATE COMP "o_vs" SITE "96" ;
LOCATE COMP "o_hs" SITE "97" ;
LOCATE COMP "i_clk" SITE "5" ;
IOBUF PORT "i_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_hs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_video_b" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_video_r" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_vs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_video_g" IO_TYPE=LVCMOS33 ;
